<!DOCTYPE html>
<html lang="en">
<head>
  <title>ABOUT</title>
  <link rel="stylesheet" href="style.css">
</head>
<body style="background-color:lightgray;">
<pre class="about">
<span style="color:brown">
                                            <strong>_</strong>
                        ____ _  ___    __ <strong>(___)</strong>______ __</span>
<span style="color:gray">---------</span><span style="color:brown">,</span><span style="color:gray">-------------</span><span style="color:brown">/       |   \  |   |   |         \\</span><span style="color:gray">----------------------</span>
<span style="color:brown">LOLHY  <strong>_/\</strong>             \    __ |    |_|   |   |_     ___//</span>
<span style="color:brown">  \   <strong>(._.)</strong>        _____\    \ |          |   | |    ||</span>
<span style="color:brown">     <strong>(_____)</strong>      ( _____\    \|    | |   |   | |    ||</span>
<span style="color:brown">    <strong>(_______)</strong>      (           \    | |   |   | |    ||</span>
<span style="color:gray">--------------------</span><span style="color:brown">\_____ _ ___)___) |_ _)___) |__ _))</span><span style="color:gray">------------------v2.g---</span>


                 . s h i t t y   w e b  i n t e r f a c e .


Shows online users, glftpd status, stops/starts glftpd container and can be used
to view logs, edit config files and browse site. Also has a browser terminal
that displays tools like gl_spy, useredit and bot partyline (using websockets).

Cutting-edge tech used:

- PHP, some JQuery and Bootstrap4
- filemanager.github.io
- GoTTY web terminal
- pyspy (flask)

</pre>
