<!DOCTYPE html>
<head>
    <title>SHIT:LOGVIEWER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/style.css">
    <script type="text/javascript" src="js/scroll.js"></script>
</head>
<body>
    <h6 class="log">Showing Log</h6>
    <button class="fixed-top btn-back"><a href="/">Back</a></button>
    <button class="fixed-bottom btn-top" onclick="gotoTop();">Top</button>
    <button class="fixed-bottom btn-end" onclick="gotoEnd();">End</button>
    <pre class="log">
