<!DOCTYPE html>
<html lang="en">
<head>
  <title>GL:WEB WELCOME</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-Equiv="Cache-Control" Content="no-cache" />
  <meta http-Equiv="Pragma" Content="no-cache" />
  <meta http-Equiv="Expires" Content="0" />
  <link rel="stylesheet" href="lib/bootstrap-4.6.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="templates/style.css">
  <link rel="stylesheet" href="lib/fontawesome-free-6.1.2-web/css/all.min.css"> 
  <script type="text/javascript" src="lib/jquery/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/modal_tty.js"></script>
</head>
<body>
<div class="title">
  <em class="fas fa-left-right"></em><span id="gl">GL</span>: <span id="cc">COMMAND CENTER</span>
</div>
<div class="status">
  <div id="service">
    DOCKER-GLFTPD
  </div>
  <hr class="vsep"/>
    STATUS:
  <?php status_bar($cmds); ?>
  <hr class="vsep"/>
  <span class="theme-switch-wrapper">
    <label class="theme-switch" for="theme-checkbox">
        <input type="checkbox" id="theme-checkbox"/>
        <span class="slider round"></span>
    </label>
    <div id="mode">
      <span>DARK MODE</span>
    </div>
  </span> 
  <hr class="vsep"/>
  <span id="help">
    <a href data-toggle="modal" data-target="#bsModal" data-type="html" data-path="/templates/help.html"><em class="fas fa-question"></em>HELP</a>
  </span>
  <hr class="vsep"/>
  <span id="about">
    <a href data-toggle="modal" data-target="#bsModal" data-type="html" data-path="/templates/about.html"><em class="fas fa-circle-info"></em>ABOUT</a>
  </span>
</div>
<div class="modal fade" id="bsModal" tabindex="F1" aria-labelledby="bsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width: 1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bsModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="white-space: pre-line"></p>
        <iframe title="modal" id="bsModalFrame" src="" style="zoom:0" width="80%" height="600"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div>
  <div>
    <button type="button" id="colShow" class="btn-collapse"><em class="fas fa-plus-circle"></em> Show All</button>
    <button type="button" id="colHide" class="btn-collapse"><em class="fas fa-minus-circle"></em> Hide All</button>
    <hr class="vsep"/>
    <button class="btn-refresh" type="button"><em class="fas fa-sync"></em><a href="<?php $_SERVER['PHP_SELF'] ?>"> Refresh</a></button>
    <button class="btn-refresh" type="button" onclick="set_norefresh()"><em class="fas fa-pause-circle"></em> Pause</button>
  </div>
  <p></p>
</div>

<p>
  <div id="api_result"></div>
<p>

<div class="enabled-group">
  <p>
    <a class="btn-collapse" data-toggle="collapse" href="#colSpy" role="button" aria-expanded="false" aria-controls="colSpy">
      <em class="fas fa-chevron-up" id="colSpyUp"></em> 
      <em class="fas fa-chevron-right" id="colSpyRight"></em>Spy
    </a>
  </p>
  <div class="cmd collapse multi-collapse" id="colSpy">
    <p>
      View <a href="/spy">pyspy-web</a> in fullscreen
    </p>
    <p>
      <div id="include_totals" class="totals"></div>
    </p>
    <p>
      <h6>Online users:</h6>
      <div id="include_users" class="users"></div>
    </p>
  </div>
</div>
<p></p>
<div class="hspace"></div>

<div class="enabled-group">
  <p>
    <a class="btn-collapse" data-toggle="collapse" href="#colFileMan" role="button" aria-expanded="false" aria-controls="colFileMan">
      <em class="fas fa-chevron-up" id="colFileManUp"></em> 
      <em class="fas fa-chevron-right" id="colFileManRight"></em>File Manager
    </a>
  </p>
  <div class="cmd collapse multi-collapse" id="colFileMan">
    Browse:
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="dir"  data-path="glftpd/site">Glftpd Site</button>
    <hr class="vsep"/>
    Edit:
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="file" data-path="glftpd" data-view="glftpd.conf">glftpd.conf</button>
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="file" data-path="glftpd/sitebot" data-view="eggdrop.conf">eggdrop.conf</button>
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="file" data-path="glftpd/sitebot/pzs-ng" data-view="ngBot.conf">ngBot.conf</button>
    <hr class="vsep"/>
    Web:
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="dir"  data-path="">View Files</button>
    <button type="button" data-toggle="modal" data-target="#bsModal" data-type="file" data-path="" data-view="config.php">Config</button>
  </div>
</div>
<div class="hspace"></div>
<form action="/" method="POST">
 
  <!-- BOT: DISABLED -->
  <div class="disabled-group">
    <p>
      <label for="botCmd">
        <a class="btn-collapse" data-toggle="collapse" href="#colBot" role="button" aria-expanded="false" aria-controls="colBot">
        <em class="fas fa-chevron-up" id="colBotUp"></em> 
        <em class="fas fa-chevron-right" id="colBotRight"></em>IRC Bot
      </a>
      </label>
    </p>
    <div class="cmd collapse multi-collapse" id="colBot">
      <p>
        <h6>Service:</h6>
        <button name="botCmd" type="submit" value="bot_status">Status</button>
        <button name="botCmd" type="submit" value="bot_start ">Start</button>
        <button name="botCmd" type="submit" value="bot_stop">Stop</button>
        <button name="botCmd" type="submit" value="bot_restart">Restart</button>
        <hr class="vsep"/>
        Process:
        <button name="botCmd" type="submit" value="bot_pid">Show</button>
        <button name="botCmd" type="submit" value="bot_kill">Kill</button>
        <hr class="vsep"/>
        Logs:
        <button name="botCmd" type="submit" value="bot_tail">Tail</button>
        <button name="botCmd" type="submit" value="bot_log">View</button>
      </p>
      <p>
        <h6>Invite:</h6>
        <input name="irc_nick" type="text" value="irc_nick" placeholder="irc-nick">
        <button name="botCmd" type="submit" value="bot_invite">OK</button>
      </p>
    </div>
    <div class="hspace"></div>
  </div>

  <!-- CB: DISABLED -->
  <div class="disabled-group">
    <p>
      <label for="cbCmd">
        <a class="btn-collapse" data-toggle="collapse" href="#colCbftp" role="button" aria-expanded="false" aria-controls="colCbftp">
          <em class="fas fa-chevron-up" id="colCbftpUp"></em> 
          <em class="fas fa-chevron-right" id="colCbftpRight"></em>Cbftp
        </a>
      </label> 
    </p>
    <div class="cmd collapse multi-collapse" id="colCbftp">
      <p>
        <h6>Service:</h6>
        <button name="cbCmd" type="submit" value="cbftp_status">Status</button>
        <button name="cbCmd" type="submit" value="cbftp_start">Start</button>
        <button name="cbCmd" type="submit" value="cbftp_stop">Stop</button>
        <button name="cbCmd" type="submit" value="cbftp_restart">Restart</button>
        <hr class="vsep"/>
        Process:
        <button name="cbCmd" type="submit" value="cbftp_pid">Show</button>
        <button name="cbCmd" type="submit" value="cbftp_kill">Kill</button>
        <p></p>
        <h6>Terminal:</h6>
        <button name="cbCmd" type="submit" value="cbftp_view" id="cbftp_view">View TTY</button>
        <button name="cbCmd" type="submit" value="cb_gotty_kill">Stop Viewing</button>
      </p>
    </div>
  </div>
  
  <div class="enabled-group">
    <div class="hspace"></div>
    <p>
      <label for="glCmd">
        <a class="btn-collapse" data-toggle="collapse" href="#colGlftpd" role="button" aria-expanded="false" aria-controls="colGlftpd">
          <em class="fas fa-chevron-up" id="colGlftpdUp"></em> 
          <em class="fas fa-chevron-right" id="colGlftpdRight"></em>Glftpd
        </a>
      </label> 
    <p>
    <div class="cmd collapse multi-collapse" id="colGlftpd">
      <h6>Docker:</h6>
      <p>
        <button name="glCmd" type="submit" value="glftpd_inspect">Inspect</button>
        <!-- GL PORTS: DISABLED -->
        <div class="disabled-group">
          <button name="glCmd" type="submit" value="glftpd_ports">Ports</button>
        </div>
      </p>
      <p>
        <h6>Service:</h6>
        <button name="glCmd" type="submit" value="glftpd_status">Status</button>
        <button name="glCmd" type="submit" value="glftpd_start">Start</button>
        <button name="glCmd" type="submit" value="glftpd_stop">Stop</button>
        <button name="glCmd" type="submit" value="glftpd_restart">Restart</button>
        <hr class="vsep"/>
        Process:
        <button name="glCmd" type="submit" value="glftpd_pid">Show</button>
        <button name="glCmd" type="submit" value="glftpd_kill">Kill</button>
        <hr class="vsep"/>
        Logs:
        <button name="glCmd" type="submit" value="glftpd_tail">Tail</button>
        <button name="glCmd" type="submit" value="glftpd_log">View</button>
      </p>

      <!-- IPADD: DISABLED --> 
      <div class="disabled-group">
        <p>
          <h6>Change Ip:</h6>
          <button name="ipCmd" type="submit" value="ip_list">List</button>
          <button name="ipCmd" type="submit" value="ip_adds">IpAdds</button>
          <button name="ipCmd" type="submit" value="ip_add">Addip</button>
          <button name="ipCmd" type="submit" value="ip_del">Delip</button>
          <div id="ip">
            <input name="ip_user" type="text" placeholder="glftpd-username">
            <input name="ip_pass" type="password" placeholder="glftpd-p@ssw0rd">
            <input name="ip_addr" type="text" placeholder="ident@1.2.3.*">
          </div>
          <p>
          </p>
          <small>Enter <strong>glftpd user/pass</strong> for List and IpAds, AddIp and DelIp also need ident@ip</small>
        </p>
      </div>

      <p>
        <h6>Terminal:</h6>
        <button name="glCmd" type="submit" value="glspy_view" id="glspy_view">gl_spy</button>
        <button name="glCmd" type="submit" value="useredit_view" id="useredit_view">useredit</button>
        <button name="glCmd" type="submit" value="pywho_view" id="pywho_view">pywho</button>
        <button name="glCmd" type="submit" value="pyspy_view" id="pywho_view">pyspy-cli</button>
        <hr class="vsep"/>
        <button name="glCmd" type="submit" value="eggdrop_view" id="eggdrop_view">telnet bot</button>
        <hr class="vsep"/>
        <button name="glCmd" type="submit" value="gl_gotty_kill">Close TTY</button>
      </p>
    </div>
  </div>
</form>
<div class="hspace"></div>
<div class="bottom"></div>
