body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin-left: 6px;
}
iframe {
    display: block;
    margin: 0 auto;
    border: 0;
}
h1 {
    text-decoration: underline;
    text-decoration-color: lightblue;
}
h5 {
    color: black;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
}
h6 {
    color: black;   
    background-color: rgb(238, 238, 238);
    padding: 1px;
    padding-left: 5px;
    margin-top: 1px;
    margin-bottom: 8px;
}
h6.out {
    margin-left: 16px;
    margin-bottom:0px !important;
    width: 900px;
}
pre.out {
    display: inline-block;
    background: black;
    color: lightgreen;
    width: 900px;
    margin-left: 16px;
    /* width:auto; */
}
pre.about {
    display: inline-block;
    width: 750px;
    height: 460px;
    background: whitesmoke;
    color: darkgreen;
    margin: 10px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
h6.log {
    margin-bottom:0px !important;
    width:auto;
    margin-left: 16px;
}
pre.log {
    display: inline-block;
    background: black;
    color: lightgreen;
    width: 100%;
    margin-left: 16px;
}
button, input, optgroup, select, textarea {
    border-radius: 6px;
}
button {
    /* background-image: linear-gradient(to bottom, #b6b6b6,  #b6c3ce); */
    background-color: rgb(234, 240, 241);
}
button:hover {
    color: lightgray;
    background-color: #6c757d;
}
.btn-back, .btn-top, .btn-end {  
    left: 85%;
    font-size: 1.2em;
    background-color :#eaeaeacc;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bolder;
    color: #007bff;
}
.btn-back {
    top: 5%;
}
.btn-top {
    bottom: 15%;
}
.btn-end {
    bottom: 5%;
}
.btn-top:hover, .btn-end:hover {
    color: #0056b3;
    text-decoration: underline;
}
.btn-primary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}
.btn-primary:hover {
    color: lightgray !important;
    background-color: #6c757d !important;
 }
.btn-collapse, .btn-refresh {
    font-size: 1.25rem;
    color: black;
    background-color: rgb(218, 232, 236);
    margin-bottom: 25px;
    padding: 8px;
    border-radius: 6px;
    border-color: gray;
    border: 10px;
}
.btn-collapse .fa-chevron-up {
    display: none;
}
.btn-collapse:hover, .btn-refresh:hover {
    color: white;
    background-color: rgb(31, 124, 211);
    /*
    cursor: pointer;
    text-decoration: underline;
    */
}
.btn-refresh a {
    color: black;
}
label {
    margin-bottom: 0px;
    margin-right: 8px;
}
/*
label:hover {
    text-decoration: underline;
}
*/
input, button {
    margin-left: 5px;
}

.title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.title #gl {
    font-weight: bold;
    color: #5456c5;
}
.title #cc {
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.status {
    margin-top: 15px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: 2px dashed gray;
    border-radius: 15px;
    display: inline-block;
    width: 915px;
}
.status a {
    color: black;
}
.status a:hover {
    color: #0056b3;
}
.status #up, #down, #running, #ts {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 3px;
    padding-right: 3px;

}
.status #service {
    display:inline-block;
    background-color:rgb(238, 238, 238);
    font-size: 1.25rem;
    margin-left: 15px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.status #label {
    display: inline-block;
    margin-left: 4px;
    margin-right: 0px;
    font-size: 1.2em;
    text-decoration: underline;
}
.status #up {
    background-color: lightgreen;
}
.status #down {
    background-color: red;
}
.status #running {
    background-color: orange;
}
.status #mode {
    display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 0.9em;
    line-height: 12px;
}
.status #mode span {
    display: inline-flex;
    vertical-align: text-bottom;
}
/*
    font-size:0.9em;
    display: table-cell;
    width: 25px;
    height: 30px;
    line-height: 12px;
    margin-right: 15px;
    vertical-align: bottom;
}
*/
.status #about {
    padding-left: 6px;
}

/*
.status #refresh {
    font-size: 0.9em;
    background-color: lightblue;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 5px;
    border: solid 1px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px darkgray;
}
.status #refresh a {
    font-weight: bold;
    color: black;
}
.status #refresh:hover {
    background-color: lightgray;
}
.status #refresh a:hover {
    color: blue;
}
.status #refresh a:active {
    color: gray;
}
*/

.cmd {
    padding: 15px;
    padding-bottom: 10px;
    border: 1px dotted black;
    border-radius: 8px;
    width: 900px;
    margin-bottom: 40px;
}
.cmd #iptip {  
    width: 150px;
}
.cmd #iptip:hover {
    border: 2px solid gray;
}
.cmd #ip {
    margin-top: 10px;
}
.cbview {
    border: 2px solid gray;
    border-color: orangered;
    padding: 15px;
    width: 900px;
    text-align: center;
}
span.small {
    font-size: smaller;
}
hr.vsep {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-left: 2px dotted black;
    display: inline
}
.hspace {
    margin-bottom: 30px;
}
.fas {
    margin-right: 6px;
}
.fa-chevron-right {
    margin-right: 12px;
}
.enabled-group {
    display:block;
    margin-left:16px
}
.disabled-group {
    display:none;
}

.users {
    column-count: 2;
    column-gap: 0%;
    column-span: none;
}
#api_result {
    display: none;
    position: fixed;
    color: white;
    background: black;
    opacity: 0.9;
    padding: 10px;
    transform: translate(200px, 150px);
}
#api_result pre {
    color: white;
}


:root {
    --font-color: #424242;
    --bg-color: white;
}
[data-theme='dark'] {
    --font-color: #929292;
    --bg-color: #161625;
}
[data-theme='dark'] h6 {
    background-color: gray;
}
[data-theme='dark'] hr.vsep {
    background-color: lightgray;
}
[data-theme='dark'] button {
    background-color: slategray;
}
[data-theme='dark'] .btn-collapse {
    background-color: steelblue;
}
[data-theme='dark'] .status a {
    color: #0056b3;
    font-weight: bold;
}
[data-theme='dark'] * {
    border-color: whitesmoke;
}
[data-theme='dark'] .modal-header {
    background-color: lightgray;
    border-color: whitesmoke;
}
[data-theme='dark'] .modal-body {
    background-color: lightgray;
    border-color: whitesmoke;
    color: black;
}
[data-theme='dark'] .modal-footer {
    background-color: lightgray;
    border-color: whitesmoke;
}
[data-theme='dark'] .spinner-border {
    border-color: steelblue;
    border-right-color: transparent;
}

.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 38px;
    margin-bottom: -1px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0px;
    transition: .4s;
    margin-bottom:-4px;
}
.slider:before {
    background-color: #fff;
    bottom: 0px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
    top: 4px;
}
input:checked + .slider {
    background-color: #66bb6a;
    margin-bottom:-4px;
}
input:checked + .slider:before {
    transform: translateX(16px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}