{% if users %}
    <table>
        <thead>
            <tr>
                <th colspan="2">
                    Currently <span id="bold">{{ onlineusers }}</span> of {{ totalusers }} users online
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>up</td>
                <td>{{ uploads }}@{{ total_up_speed }}{{ total_up_unit }}</td>
            </tr>
            <tr>
                <td>down</td>
                <td>{{ downloads }}@{{ total_dn_speed }}{{ total_dn_unit }}</td>
            </tr>
            <tr>
                <td>total</td>
                <td>{{ total }}@{{ total_speed }}{{ total_unit }}</td>
            </tr>
            <tr>
                <td>activity</td>
                <td>
                    {{ browsers }} browser(s), {{ idlers }} idler(s)
                </td>
            </tr>
            <tr>
                <td>date</td>
                <td>
                    {{ curdate }}
                </td>
            </tr>
        </tbody>
    </table>
{% endif %}