name: "IRC Push Notification"
#on: [push, pull_request, create]
on: push

jobs:
  message:
    runs-on: ubuntu-latest
    steps:
      - name: irc push
        uses: rectalogic/notify-irc@v1
        if: github.event_name == 'push'
        with:
          channel: "#glhelp"
          server: "irc.choopa.net"
          port: 6667
          tls: false
          nickname: shithub
          message: |-
            ${{ github.actor }} pushed ${{ github.event.ref }} ${{ github.event.compare }}
            commit: ${{ join(github.event.commits.*.message, ', ') }}
#      - name: irc pull request
#        uses: rectalogic/notify-irc@v1
#        if: github.event_name == 'pull_request'
#        with:
#          channel: "#mychannel"
#          server: "irc.libera.chat"
#          nickname: my-github-notifier
#          message: |
#            ${{ github.actor }} opened PR ${{ github.event.pull_request.html_url }}
#      - name: irc tag created
#        uses: rectalogic/notify-irc@v1
#        if: github.event_name == 'create' && github.event.ref_type == 'tag'
#        with:
#          channel: "#mychannel"
#          server: "irc.libera.chat"          
#          nickname: my-github-notifier
#          message: |
#            ${{ github.actor }} tagged ${{ github.repository }} ${{ github.event.ref }}
